---
- name: CREATE DIRECTORY & COPY FILES
  hosts: localhost
  remote_user: root
  tasks:
    - name: CREATE DOCKER DIRECTORY
      file:
        path: /opt/docker
        state: directory
        mode: "0755"      

    - name: COPY DOCKERFILE
      copy:
        src: ../Dockerfile
        dest: /opt/docker

    
